@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: aliceblue;  
    font-family: "Quicksand",sans-serif; 
}
body{
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    gap: 20px;
    background-color: #fff;
    
    animation-name: init;
    animation-duration: 2s;
    animation-delay: 4s;
    animation-fill-mode: forwards;
    -webkit-animation-name: init;
    -webkit-animation-duration: 2s; 
    -webkit-animation-delay: 4s;
    -webkit-animation-fill-mode: forwards;
      
}
@keyframes init {
    0%{
       
        background-color: #fff;
    }
    100%{
        
        background-color: #1e2a3c;
    }
}
@keyframes init2 {
    0%{
        opacity: 0;
        
    }
    100%{
        opacity: 1;
        
    }
}
.title-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container{
    opacity: 0;
    overflow:hidden;
    background-color: #28292d;
    border-radius: 10px;
    height: 420px;
    width: 360px;
    border: 2px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    padding: 25px;
    animation-name: init2;
    animation-duration: 2s;
    animation-delay: 4s;
    animation-fill-mode: forwards;
    -webkit-animation-name: init2;
    -webkit-animation-duration: 2s; 
    -webkit-animation-delay: 4s;
    -webkit-animation-fill-mode: forwards;
}
.title{
    font-size: 2rem;
    font-weight: bolder;
    margin-bottom: 10px;
}
#title-sub{
    align-items: center;
}

.input-box{
    position: relative;
    width: 100%;
    margin-top: 20px;
}
.input-block{
    width: 100%;
    background-color: #28292d;
    border: 1px solid grey;
    border-radius: 8px;
    padding: 10px;
    outline: none;
}
.input-text{
    padding: 10px;
    font-size: 0.8rem;
    position: absolute;
    left: 0;
    color: aliceblue;
    transition: 0.5s;
}

.input-block:valid ~ .input-text,
.input-block:focus ~ .input-text{
    background-color: aquamarine;
    transform: translate(10px,-30px);
    border-radius: 5px;
    color: #333;
}  
.input-block:valid,
.input-block:focus{
    border-color: aquamarine;
}
.input-button-container{
    width: 100%;
    padding: 20px;
}
#input-button{
    color: #333;
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: white;
    transition: 0.5s;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
}
#input-button:hover{
    border: none;
    background-color: rgb(158, 250, 219);
    box-shadow: aquamarine 0px 7px 29px 0px;
    /* box-shadow: 0 0 0 5px rgba(127, 255, 212, 0.2),
    0 0 0 5px rgba(127, 255, 212, 0.1),
    0 0 0 10px rgba(127, 255, 212, 0.05),
    0 0 0 20px rgba(127, 255, 212, 0.02); */
}
.text-action{
    transform: translateX(-500px);
    animation: displayScore 2s 7s ease-out forwards;
}

@keyframes displayScore {
    0%{
        transform: translateX(-500px);
    }
    100%{
        transform: translateX(0%);
    }
}
@keyframes displayText{
    0%{
        filter: blur(10px);
        opacity: 0;
    }
    100%{
        filter: blur(0px);
        opacity: 1;
    }
}   
.display{   
    width: 200px;
    height: 420px;
    opacity: 0;
    filter: blur(10px);
    animation: displayText 1s 7s linear forwards;
}

.fall{
    color: red;
}

.display-text{
    display: inline-block;
    text-align: center;
    font-size: 16px;
    width: 80px;
    margin: 1px;    
}
@media (max-width: 820px) {
    body{
        flex-direction: column;
    }
    .display{
        height: auto;
        width: auto;
    }
    
}


/* new-------------------------------------------------------------------------------- */
.socket {
    z-index: -999;
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    margin-left: -100px;
    top: 50%;
    margin-top: -100px;
  }
  
  .hex-brick {
    background: #1e2a3c;
    width: 50px;
    height: 29px;
    position: absolute;
    top: 5px;
    animation-name: fade00;
    animation-duration: 2s;
    /* animation-iteration-count: infinite; */
    -webkit-animation-name: fade00;
    -webkit-animation-duration: 2s;
    /* -webkit-animation-iteration-count: infinite; */
  }
  
  .h2 {
    transform: rotate(60deg);
    -webkit-transform: rotate(60deg);
  }
  
  .h3 {
    transform: rotate(-60deg);
    -webkit-transform: rotate(-60deg);
  }
  
  .gel {
    height: 30px;
    width: 30px;
    transition: all .3s;
    -webkit-transition: all .3s;
    position: absolute;
    top: 50%;
    left: 50%;
  }
  
  .center-gel {
    margin-left: -15px;
    margin-top: -15px;
    animation-name: pulse00;
    animation-duration: 2s;
    /* animation-iteration-count: infinite; */
    -webkit-animation-name: pulse00;
    -webkit-animation-duration: 2s;
    /* -webkit-animation-iteration-count: infinite; */
  }
  .r1 {
    animation-name: pulse00;
    animation-duration: 2s;
    /* animation-iteration-count: infinite; */
    animation-delay: .2s;
    -webkit-animation-name: pulse00;
    -webkit-animation-duration: 2s;
    /* -webkit-animation-iteration-count: infinite; */
    -webkit-animation-delay: .2s;
  }
  
  .r2 {
    animation-name: pulse00;
    animation-duration: 2s;
    /* animation-iteration-count: infinite; */
    animation-delay: .4s;
    -webkit-animation-name: pulse00;
    -webkit-animation-duration: 2s;
    /* -webkit-animation-iteration-count: infinite; */
    -webkit-animation-delay: .4s;
  }
  
  .r3 {
    animation-name: pulse00;
    animation-duration: 2s;
    /* animation-iteration-count: infinite; */
    animation-delay: .6s;
    -webkit-animation-name: pulse00;
    -webkit-animation-duration: 2s;
    /* -webkit-animation-iteration-count: infinite; */
    -webkit-animation-delay: .6s;
  }
  .r4 {
    animation-name: pulse00;
    animation-duration: 2s;
    /* animation-iteration-count: infinite; */
    animation-delay: .8s;
    -webkit-animation-name: pulse00;
    -webkit-animation-duration: 2s;
    /* -webkit-animation-iteration-count: infinite; */
    -webkit-animation-delay: .8s;
  }
  .r5 {
    animation-name: pulse00;
    animation-duration: 2s;
    /* animation-iteration-count: infinite; */
    animation-delay: 1s;
    -webkit-animation-name: pulse00;
    -webkit-animation-duration: 2s;
    /* -webkit-animation-iteration-count: infinite; */
    -webkit-animation-delay: 1s;
  }
  .r6 {
    animation-name: pulse00;
    animation-duration: 2s;
    /* animation-iteration-count: infinite; */
    animation-delay: 1.2s;
    -webkit-animation-name: pulse00;
    -webkit-animation-duration: 2s;
    /* -webkit-animation-iteration-count: infinite; */
    -webkit-animation-delay: 1.2s;
  }
  .r7 {
    animation-name: pulse00;
    animation-duration: 2s;
    /* animation-iteration-count: infinite; */
    animation-delay: 1.4s;
    -webkit-animation-name: pulse00;
    -webkit-animation-duration: 2s;
    /* -webkit-animation-iteration-count: infinite; */
    -webkit-animation-delay: 1.4s;
  }
  .r9 {
    animation-name: pulse00;
    animation-duration: 2s;
    /* animation-iteration-count: infinite; */
    animation-delay: 1.4s;
    -webkit-animation-name: pulse00;
    -webkit-animation-duration: 2s;
    /* -webkit-animation-iteration-count: infinite; */
    -webkit-animation-delay: 1.4s;
  }
  .r11 {
    animation-name: pulse00;
    animation-duration: 2s;
    /* animation-iteration-count: infinite; */
    animation-delay: 1.6s;
    -webkit-animation-name: pulse00;
    -webkit-animation-duration: 2s;
    /* -webkit-animation-iteration-count: infinite; */
    -webkit-animation-delay: 1.6s;
  }
  .r13 {
    animation-name: pulse00;
    animation-duration: 2s;
    /* animation-iteration-count: infinite; */
    animation-delay: 1.6s;
    -webkit-animation-name: pulse00;
    -webkit-animation-duration: 2s;
    /* -webkit-animation-iteration-count: infinite; */
    -webkit-animation-delay: 1.6s;
  }
  .r15 {
    animation-name: pulse00;
    animation-duration: 2s;
    /* animation-iteration-count: infinite; */
    animation-delay: 1.8s;
    -webkit-animation-name: pulse00;
    -webkit-animation-duration: 2s;
    /* -webkit-animation-iteration-count: infinite; */
    -webkit-animation-delay: 1.8s;
  }
  .r17 {
    animation-name: pulse00;
    animation-duration: 2s;
    /* animation-iteration-count: infinite; */
    animation-delay: 1.8s;
    -webkit-animation-name: pulse00;
    -webkit-animation-duration: 2s;
    /* -webkit-animation-iteration-count: infinite; */
    -webkit-animation-delay: 1.8s;
  }
  .r19 {
    animation-name: pulse00;
    animation-duration: 2s;
    /* animation-iteration-count: infinite; */
    animation-delay: 2s;
    -webkit-animation-name: pulse00;
    -webkit-animation-duration: 2s;
    /* -webkit-animation-iteration-count: infinite; */
    -webkit-animation-delay: 2s;
  }
  .r21 {
    animation-name: pulse00;
    animation-duration: 2s;
    /* animation-iteration-count: infinite; */
    animation-delay: 2s;
    -webkit-animation-name: pulse00;
    -webkit-animation-duration: 2s;
    /* -webkit-animation-iteration-count: infinite; */
    -webkit-animation-delay: 2s;
  }
  .r23 {
    animation-name: pulse00;
    animation-duration: 2s;
    /* animation-iteration-count: infinite; */
    animation-delay: 2.2s;
    -webkit-animation-name: pulse00;
    -webkit-animation-duration: 2s;
    /* -webkit-animation-iteration-count: infinite; */
    -webkit-animation-delay: 2.2s;
  }
  .r25{
    animation-name: pulse00;
    animation-duration: 2s;
    /* animation-iteration-count: infinite; */
    animation-delay: 2.4s;
    -webkit-animation-name: pulse00;
    -webkit-animation-duration: 2s;
    /* -webkit-animation-iteration-count: infinite; */
    -webkit-animation-delay: 2.4s;
  }

  @keyframes pulse00 {
    0% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  
    50% {
      -webkit-transform: scale(0.01);
      transform: scale(0.01);
    }
  
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }